{% extends "template.html" %}  
{% block content %}
<h1>Cockatil Marking Start</h1>
{% for key, item in cocktail_details.items %}
    <h3>{{key}}:</h1>
    <p>{{item}}</p>
{% endfor %}

<form action="{% url 'cocktail:cocktail_card' id=id %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>Category</th>
            <th>Description</th>
            <th>Score</th>
            <th>Comments</th>

        </tr>
        
        {% for score, comments, descriptions in form %}
            <tr>
                <td>{{score.label_tag}}</td>
                <td>{{descriptions}}</td>
                <td>{{score}}</td>
                <td>{{comments}}</td>
            </tr>
        {% endfor %}
        

    </table>
    <input type="submit" name='teams' value="Submit">
</form>


{% endblock %}