{% extends "template.html" %}  
{% block content %}
    <h1>Game Card Page</h1>
    <table class="table table-striped table-hover">

        {% for key, value in results.items %}
            <tr>
                <td>{{key}}</td>
                {% for hole in value %}
                    <td>
                        {{ hole}} 
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        
    </table>

    <h2>Drives</h2>
    <table class="table table-striped table-hover">

        {% for key, value in drives.items %}
            <tr>
                <td>{{key}}</td>
                {% for hole in value %}
                    <td>
                        {{ hole}} 
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        
    </table>

    <div>
        <h3>Mulligans</h3>
        <ul>
            {% for item in mulligans %}
                <li>{{item}}</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h3>Milligans</h3>
        <ul>
            {% for item in milligans %}
                <li>{{item}}</li>
            {% endfor %}
        </ul>
    </div>

    {% if card.current_hole <= card.card.number_holes %}
        {% if card.current_hole != 0 %}
        <a href="{% url 'cocktail:update_score' id=card.id hole=card.current_hole %}" class="btn btn-success">Back to the Hole {{card.current_hole}} </a> 
        {% else %}
        <a href="{% url 'cocktail:update_score' id=card.id hole=card.current_hole|add:1 %}" class="btn btn-default">Start Game</a>  
        {% endif %}
     
    {% else %}
        <a href="{% url 'cocktail:view' %}" class="btn btn-default">End Game</a>          
    {% endif %}
{% endblock %}