{% extends "template.html" %}  
{% block content %}

    <h1>Scoring {{card.current_hole}}</h1>


    <p>{{card.card.teams_playing}}</p>

    
    
    <form method="POST" enctype="multipart/form-data"> 
        {% csrf_token %} 
        {{formset.management_form}}
        
        {% for form, team in test %}
            <p>{{team}} - {{form.score}}</p>
            
        {% endfor %}
        
        <input type="submit" value="Submit"> 
    </form> 

    <a href="{% url 'cocktail:score_card' id=card.id %}"class="btn btn-default">View Score Card</a>

{% endblock %}